numpy
scipy
scikit-learn
Pillow
scikit-image>=0.19
pandas
pyarrow
matplotlib
seaborn
plotly
kaleido
jupyterlab
jupyter_client<8  # Currently a dependency conflict (https://github.com/nteract/papermill/issues/711)
papermill
tensorboard
pytorch-lightning
python-dotenv
monai
GPUtil
psutil
segmentation-models-pytorch
kornia>=0.6.5
rich
threadpoolctl
commentjson
appdirs
blosc
torch
lazy-imports
