-r requirements.txt
matplotlib-venn
pynrrd
pypdf
ipywidgets
deskew
paramiko
opencv-python
umap-learn
scikit-image
openpyxl
statsmodels
iterative-stratification
fastkde

--extra-index-url https://read_package:CnzBrgDfKMWS4cxf-r31@git.dkfz.de/api/v4/projects/15/packages/pypi/simple
challenger-pydocker
